h1{
    color:blueviolet;
    font-size: 65px;
}
        h2 {
            color:grey;
            font-size: size 64px;
        }
        p{
            color:pink;
            font-size:65px;
        }